.card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

/* Patron aleatorio */

.card:nth-child(8n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.card:nth-child(11n + 4) {
  grid-column: span 2;
  grid-row: span 1;
}

/* Ipad */
@media screen and (max-width: 48em) {
  .card:nth-child(4n + 1) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

/* Mobil */
@media screen and (max-width: 32.3em) {
  .card:nth-child(n) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.card__img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card__body {
  margin: 0;
  position: absolute;
  background-color: var(--principal-opacity);
}

.card:nth-child(4n + 1) {
  background-color: aqua;
}

.card:nth-child(4n + 2) {
  background-color: rgb(255, 0, 221);
}

.card:nth-child(4n + 3) {
  background-color: rgb(21, 255, 0);
}

.card:nth-child(4n + 4) {
  background-color: rgb(255, 94, 0);
}

.card__title {
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.6em;
  color: var(--texto);
  text-align: left;
}

.card:nth-child(4n + 1):hover {
  border: 5px solid aqua;
}

.card:nth-child(4n + 2):hover {
  border: 5px solid rgb(255, 0, 221);
}

.card:nth-child(4n + 3):hover {
  border: 5px solid rgb(21, 255, 0);
}

.card:nth-child(4n + 4):hover {
  border: 5px solid rgb(255, 94, 0);
}

.card:nth-child(4n + 1):hover > div {
  background-color: rgba(0, 255, 255, 0.5);
}

.card:nth-child(4n + 2):hover > div {
  background-color: rgba(255, 0, 221, 0.5);
}

.card:nth-child(4n + 3):hover > div {
  background-color: rgba(21, 255, 0, 0.5);
}

.card:nth-child(4n + 4):hover > div {
  background-color: rgba(255, 94, 0, 0.5);
}
