.card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  width: 100%;
  margin-bottom: 0.75rem;
}

.card__body {
  margin: 0;
  position: absolute;
  border-top-right-radius: 5px;
  background-color: var(--principal-opacity);
}

.card:nth-child(4n + 1) {
  background-color: aqua;
}

.card:nth-child(4n + 2) {
  background-color: rgb(255, 0, 221);
}

.card:nth-child(4n + 3) {
  background-color: rgb(21, 255, 0);
}

.card:nth-child(4n + 4) {
  background-color: rgb(255, 94, 0);
}

.card__title {
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.6em;
  color: var(--texto);
  text-align: left;
}

.card__img {
  object-fit: cover;
  height: 100%;
  min-height: 10rem;
  width: 100%;
}

.card:nth-child(4n + 1):hover {
  border: 5px solid aqua;
}

.card:nth-child(4n + 2):hover {
  border: 5px solid rgb(255, 0, 221);
}

.card:nth-child(4n + 3):hover {
  border: 5px solid rgb(21, 255, 0);
}

.card:nth-child(4n + 4):hover {
  border: 5px solid rgb(255, 94, 0);
}

.card:nth-child(4n + 1):hover > div {
  background-color: rgba(0, 255, 255, 0.5);
}

.card:nth-child(4n + 2):hover > div {
  background-color: rgba(255, 0, 221, 0.5);
}

.card:nth-child(4n + 3):hover > div {
  background-color: rgba(21, 255, 0, 0.5);
}

.card:nth-child(4n + 4):hover > div {
  background-color: rgba(255, 94, 0, 0.5);
}
