.Category {
  width: 100%;
}
.Category__title {
  color: var(--texto);
  font-size: 2rem;
}
.Category__list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  max-width: 300px;
}
.Category__link {
  text-decoration: none;
  color: var(--texto);
  font-size: 1.8rem;
}

.Category__link:hover {
  color: var(--secundario);
}

.Category__item {
  width: fit-content;
  /* margin: 0 auto; */
  margin: 0.1rem;
  float: left;
}

.Category__item:nth-child(4n + 1) {
  background-color: aqua;
}

.Category__item:nth-child(4n + 2) {
  background-color: rgb(255, 0, 221);
}

.Category__item:nth-child(4n + 3) {
  background-color: rgb(21, 255, 0);
}

.Category__item:nth-child(4n + 4) {
  background-color: rgb(255, 94, 0);
}

@media (min-width: 770px) {
  .Category {
    margin-left: 1rem;
    min-width: 250px;
  }
}
