.grid {
  /* margin-top: 2em; */
  /* display: grid; */
  /* gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
  column-count: 1;
  column-gap: 0.5em;
  width: 100%;
}

@media (min-width: 450px) {
  .grid {
    column-count: 2;
  }
}
@media (min-width: 600px) {
  .grid {
    column-count: 3;
  }
}
@media (min-width: 800px) {
  .grid {
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .grid {
    column-count: 5;
  }
}
@media (min-width: 1500px) {
  .grid {
    column-count: 6;
  }
}
