:root {
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 6px;
}

.grid {
  margin-top: 2em;
  display: grid;
  gap: var(--gridList-gap, 6px);
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
  grid-auto-rows: var(--gridList-rows);
  width: 100%;
  min-height: 70vh;
}
