.header__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.header__input {
  padding: 0.5rem;
  width: 100%;
  max-width: 200px;
  border: 3px solid var(--secundario);
  color: var(--principal);
  font-family: inherit;
  font-size: 1.2rem;
}

.header__input:focus,
.header__filter:focus {
  outline: none;
}

.header__button {
  padding: 0.3rem;
  /* font-family: inherit; */
  font-size: 1.2rem;
  border: 3px solid var(--secundario);
  background-color: var(--secundario);
  color: var(--texto);
  cursor: pointer;
  margin-left: 0.3rem;
}

.header__button:hover {
  background-color: var(--secundario-opacity);
  border-color: var(--secundario-opacity);
}

.header__button:hover .header__input {
  background-color: var(--secundario-opacity);
}
/*  */
.header__filter {
  width: 70px;
  border: 3px solid var(--secundario);
  background-color: white;
  color: var(--principal);
  font-family: inherit;
  margin-right: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.header__counter {
  color: var(--texto);
}

.header__options {
  display: flex;
  justify-content: center;
}

.header__reset {
  color: var(--texto);
  background-color: transparent;
  border-left-color: aqua;
  border-right-color: rgb(255, 0, 221);
  border-top-color: rgb(21, 255, 0);
  border-bottom-color: rgb(255, 94, 0);
  cursor: pointer;
}

.header__filterContainer {
  max-width: 300px;
  margin: 0.3rem auto;
  display: flex;
  justify-content: flex-end;
}
