.Up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--principal);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  padding: 0.8rem;
  z-index: 2;
  cursor: pointer;
  border-left-color: aqua;
  border-right-color: rgb(255, 0, 221);
  border-top-color: rgb(21, 255, 0);
  border-bottom-color: rgb(255, 94, 0);
  transition: 0.2s;
  animation: popup 0.5s ease-out;
}

.Up__icon {
  margin: 0.3rem 0rem;
  width: auto;
  height: auto;
  transform: scale(0.7);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }

  100% {
    width: 3.5rem;
    height: 3.5rem;
  }
}
