.App {
  text-align: center;
  background-color: var(--principal);
  min-height: 100vh;
  padding: 2rem;
}

.App-content {
  display: flex;
}

@media (max-width: 768px) {
  .App-content {
    flex-direction: column;
  }
}

/* Cada pagina */
.Page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
