.App {
  text-align: center;
}

.App-content {
  background-color: var(--principal);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-change-gifs {
  width: fit-content;
  margin-top: 2rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--texto);
  color: #282c34;
}
