:root {
  --principal: #545454;
  --secundario: #dcd754;
  --texto: #fbfbfb;
  --secundario-opacity: rgba(220, 215, 84, 0.5);
  /* --principal-opacity: rgba(84, 84, 84, 0.85); */
  --principal-opacity: rgba(102, 102, 83, 0.85);
  /* amarillo rgb(220,215,84)
    negro rbg(84,84,84)
     blanco rbg(251,251,251)
  */
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Patrick Hand", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
